<div class="top_bottom">
   <%= link_to 'Back to Projects',projects_path,:class => "btn primary small" %> <%= link_to 'Lists',@project, :class => "btn small" %>
</div>
</p>
<div class="page-header">
  <h2>Project</h2>
</div>
<%= render 'form' %>

